Police fatal shootings in the United States has been a problem for decades, but it was not until 2014 after the shooting of Michael Brown when people started questioning police accountaibility and the racial profiling that accopamnied the shootings. This event also started the #blacklivesmatter movement to fight for social justice and equality. I've gathered data from kaggle.com on fatal police shootings since 2015 to explore the depth of the problem. It's important to note that the data does not account for anything before 2015. Accorfing to the description of the dataset on kaggle, "Since Jan. 1, 2015, The Washington Post has been compiling a database of every fatal shooting in the US by a police officer in the line of duty.
It's difficult to find reliable data from before this period, as police killings haven't been comprehensively documented, and the statistics on police brutality are much less available. As a result, a vast number of cases go unreported." Now let's analyze the kaggle data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
sns.set(style="white", context="notebook", palette="deep")

COLOR_COLUMNS = ["#66C2FF", "#5CD6D6", "#00CC99", "#85E085", "#FFD966", "#FFB366", "#FFB3B3", "#DAB3FF", "#C2C2D6"]

sns.set_palette(palette=COLOR_COLUMNS, n_colors=4)

In [15]:
df = pd.read_csv('datasets/PoliceKillingsUS.csv',encoding= 'unicode_escape')

In [16]:
df

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2530,2822,Rodney E. Jacobs,28/07/17,shot,gun,31.0,M,NaN,Kansas City,MO,False,attack,Not fleeing,False
2531,2813,TK TK,28/07/17,shot,vehicle,NaN,M,NaN,Albuquerque,NM,False,attack,Car,False
2532,2818,Dennis W. Robinson,29/07/17,shot,gun,48.0,M,NaN,Melba,ID,False,attack,Car,False
2533,2817,Isaiah Tucker,31/07/17,shot,vehicle,28.0,M,B,Oshkosh,WI,False,attack,Car,True
2534,2815,Dwayne Jeune,31/07/17,shot,knife,32.0,M,B,Brooklyn,NY,True,attack,Not fleeing,False

In [38]:

del df['gender']

In [21]:
def get_number_killed_race(race):
    count =0
    for race_type in df['race']:
        if race_type == race:
            count +=1
    return count

In [24]:
num_w_killed = get_number_killed_race('W')

In [25]:
num_w_killed

1201

In [27]:
num_b_killed = get_number_killed_race('B')

In [28]:
num_b_killed

618

In [32]:
num_h_killed = get_number_killed_race('H')

In [33]:
num_h_killed

423

wikipedia on the percentage of people in USA based on ethnicity from a 2019 U.S census:
non-hispanic whites: 63.4%
hispanic and latino: 15.3%
black: 13.4%
asian: 5.9%